
:root {
    --primary-yellow: #FBB040;
    --primary-orange: #e86000;
    --primary-grey: #A2958A;

    --dark-grey: #515151;

    --column-width: 100px;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 }


/* Removing defaults */

 ul {
     list-style-type: none;
 }



.clickable {
    cursor: pointer;
}

/* Outside all connection. */

.outside-conn {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main";


    input[type="submit"] {
        background-color: var(--primary-orange);
        color: white;
        padding: 5px;
        border: solid 1px var(--primary-orange);
        height: 29px;
        cursor: pointer;
    }
}

.outside-conn > header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-orange);
    grid-area: header;
    align-items: center;
}

.outside-conn > div {
    grid-area: main;
    padding: 20px;
}


/* Inside connections */

.main-conn {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main";

   .main {
       grid-area: main;
       padding: 20px;
   }

   .menu {

        width: 120px;

        ul {
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            li {
                padding: 5px;
            }
        }

   }

}

.main-conn > header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-orange);
    grid-area: header;
    align-items: center;
}




/* Buttons */

nav {
    .clickable {
        padding: 3px;
        cursor: pointer;
    }

    .primary {
        background-color: white;
        color: var(--primary-orange);
    }

    .secondary {
        color: white
    }
}


.primary-link {
    color: var(--primary-orange);
}
