target
dist
data
.vscode
.bsp
temp

.DS_Store
.idea

frontend/node_modules
game-server-launcher/node_modules
game-server-launcher/build

.bloop
.metals
project/metals.sbt
project/project

project/target
project/project/target
project/.bloop

frontend/build

backend/conf/dev.conf
shared-backend/src/main/resources/dev.conf

/database

log
logs

*/target

*.svg
*.map

frontend/src/main/resources/.sass-cache
#frontend/src/main/resources/index.css
frontend/src/main/resources/index.css.map
frontend/src/main/resources/assets/in-game/bars/LiteStep.png
frontend/src/main/resources/assets/in-game/bars/Minimalist.png
frontend/src/main/resources/assets/in-game/bars/Xeon.png
frontend/src/main/resources/assets.zip

frontend/src/main/resources/assets/in-game/sounds
