target
dist
data

.DS_Store
.idea

.bloop
.metals
project/metals.sbt

project/target
project/project/target
project/.bloop

frontend/build

backend/conf/dev.conf
shared-backend/src/main/resources/dev.conf

/database

log
logs

*/target

*.svg
*.map

frontend/src/main/resources/.sass-cache
#frontend/src/main/resources/index.css
frontend/src/main/resources/index.css.map
frontend/src/main/resources/assets/in-game/*
frontend/src/main/resources/assets.zip
